
footer{
  background-color: #343a40!important;
   text-align: center;
   color:white;
   padding: 10px; 
   bottom: 0;
   width: 100%;
   position: fixed;
  }
 


.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  font-size: 20px;
}