


//strano
.carousel {
  height: 400px;
}
//strano
.carousel-item{
    color: white;
    height: 400px;
}






form{
   
    color: white; 
    font-size: 20px;
    padding-top: 70%;
    
}

#bodyAccess{
    background: url(../IMMAGINI/sfondo.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}  

button{
    width: 30%;
    margin-right: 40px;
   

} 

//PROBLEMATICO
html,body {
    height: 100%;
  }
 /DIVERSO
main{

  min-height: calc(100vh - 78px - 74px);
}

#page-content {
    flex: 1 0 auto;
  }
  
/*-----------------------
Footer
-------------------------*/



/*-----------------------
Carosello
-------------------------*/

azione/accesso homepage
-------------------------*/




/*-----------------------
Prova form login/registrazione modificato
-------------------------*/


.Form{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 45px 45px 45px 45px;
  padding-top: 50px;
  padding-left: 20px;
  margin-top: 30vh;
  display: inline-block;
  color: #000;
  position: static;
}
.accesso{
  font-size: 30px;
  padding-bottom: 30px;
}

#log{
  border-radius: 35px;
  width: 250px;
  height: 35px;
}
.prova{
  background-image: url(/IMMAGINI/sfondo.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#loginButton{
  width: 130px;
  font-size: large;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 20px;
}



#loginButton:hover{
  background-color: black;
  color: white;
  border-color: black;
}

input{
  padding-left: 10px;
}


#login{
  height: 400px;
  width: 300px;
}
