form{
   
    padding: 30px 10px 0% 10px ;
    color: white; 
    
}

#bodyAccess{
    background: url(../IMMAGINI/sfondo.jpg) no-repeat;
    background-attachment: fixed;
     background-size: cover;
     color: white; 
}  
button{
    width: 30%;
    margin-right: 40px;
   

} 
html,body {
    height: 100%;
  }

#page-content {
    flex: 1 0 auto;
  }
  
#sticky-footer {
    flex-shrink: none;
    
  }
footer{
  color: green;
}
