form{
   
    padding: 30px 10px 10% 10px ;
    color: white; 
    
}

body {
    background: url(../IMMAGINI/sfondo.jpg) no-repeat;
    background-attachment: fixed;
     background-size: cover;
     color: white; 
}  
button{
    width: 30%;
    margin-right: 40px;
   

} 

footer{
    background-color: #343a40!important;
   text-align: center;
   color:white;
   padding: 10px; 
   
   bottom: 0;
   width: 100%;
   position: fixed;
  }
