form{
   
    padding: 30px 10px 0% 10px ;
    color: white; 
    
}

#bodyAccess{
    background: url(../IMMAGINI/sfondo.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white; 
}  
button{
    width: 30%;
    margin-right: 40px;
   

} 
html,body {
    height: 100%;
  }

#page-content {
    flex: 1 0 auto;
  }
  
/*-----------------------
Footer
-------------------------*/
#sticky-footer {
    flex-shrink: none;
    
  }
footer{
  color: green;
}

/*-----------------------
Cover Homepage
-------------------------*/


.cover{
  height: 7700px;
  background-image: url(/IMMAGINI/cioccolato-fondente.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
  border-color: red;
  border: 10px;
  width: 100%;
}




.caption{
  width: 100%;
  height: 100%;
  position: absolute;
}




.titoloCover{
  font-size: 90px;
  color: #fff;
  text-shadow: black 9px 9px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.testoCover{
  color: #fff;
  text-align: center;
  font-size: 50px;
  font: outline;
  margin-top: 70px;
}

/*-----------------------
Card Istruzioni
-------------------------*/

.insTitle{
  font-size: 87px;
  text-align: center;
  font: outline;
}

#istr{
  border: 3px inset rgba(107,87,87,0.87);
  border-radius: 45px 45px 45px 45px;
  height:700px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}


.inst{
  font-size: 50px;
}
